DATABASE_URL=postgresql://username:password@localhost:5432/dbname
JWT_SECRET=secret
TMDB_API_BASE_URL=https://api.themoviedb.org/3
TMDB_API_KEY=apikey

# Your created bucket name in AWS S3
AWS_BUCKET_NAME="bucket" 

# Your AWS access key ID
AWS_ACCESSKEYID="accesskeyid"

# Your AWS secret access key
AWS_SECRETACCESSKEY="secretaccesskey"

# The AWS region where your bucket is located
AWS_REGION="eu-north-1"

# NOTE:-: The keys provided above are for illustration purposes only and won't function if used directly.